@use "../../presets" as *;
@use "../../mixins" as *;

.header {
  position: relative;
  background-image: url(assets/images/header.png);
  display: grid;
  align-content: center;
  min-height: 100vh;
  padding: 150px 0;
  background-color: $color-primary;
  background-position: 50% 50%;
  background-size: cover;
}
